// @import url('../../common/reset.css'); 
// @import url('../../common/font.css');

//아이콘 //Keyboard Arrow Down
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0'); 

//------------------------------------------------------------
@mixin flex($x: center, $y: center){
    display: flex; justify-content: $x; align-items: $y;
    @content;
}
@mixin font($x: inherit, $y: inherit, $z: inherit){
    font-size: $x;
    font-weight: $y;
    color: $z;
}
@mixin spaceTxt(){
    letter-spacing: 200%;
}
@mixin text(){
    word-break: keep-all;
    word-wrap: break-word;
}

@mixin English(){
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}
$mainColor: #23402A;
$subColor1: #112619;
$subColor2: #EFF299;
//------------------------------------------------------------
*{
    box-sizing: border-box;
    font-family: 'inter', 'Sans-Serif';
}
html{
    // font-size: 16px;
}
body{
    padding: 0;
    margin: 0;
}
//------------------------------------------------------------
@media (max-width: 1440px) {
section{
    padding: 0 100px !important;
    >.content{
        // max-width: 1075px;
    }
}


main{
    >.main{
        
        >.bg{
            
        }//.bg
        
        >.blackBg{
        }

        >.mainTxt{
            // border: 1px solid red;

            >h1{
                @include font(8rem, 400, white);
            }
            >p{
                @include font(1.8rem, 400, white);
            }
        }
    }//div.main

    section.room_sec1{
        >nav.menu{
            >ul{
                >li{
                    >a{

                        &:before{

                        }
                    }

                    &:not(:last-child)::after{ //세로 직선

                    }

                    
                    //활성화된 탭
                    &[aria-expanded = 'true']{
                        >a{
                            &:before{

                            }
                        }
                    }
                }//li
            }//ul   

            >div.decoLine{  

            }//div.decoLine
        }//nav.menu

        >div.roomWrapper{
            >ul{

                >li{

                    width: 49%;
                    >figure{
                        >div.slide{
                            height: 22vw;
                        }
                    }
                
                

                    @media (max-width: 1220px) {
                        >figure{
                            >div.slide{
                                >ul{
                                    
                                    >li{
                                        
                                        >a{
                                            >img{

                                            }

                                            >div.blackBg{
                                                
                                            }//div.blackBg

                                        }
                                        &:hover{
                                            img{      
                                            }
                                        }
                                    }//li
                                }//ul //슬라이드 이미지

                                >button{

                                    &:hover{
                                    }

                                }
                                >button.leftBtn{

                                }
                                >button.rightBtn{


                                }

                            }//div.slide


                            
                            >div.txtWrapper{
                                // @include font(0.6875rem, normal, black);

                                >figcaption{
                                    font-size: 1rem;
                                    margin: 15px 0 17px; 
                                }//figcaption
                                >span:not(:nth-of-type(1)){

                                }

                                >a{ 

                                }

                            }//div.txtWrapper
                        }//figure
                    }//@media (max-width: 1220px)
                }//li
            }//ul

        }//div.roomWrapper
    }//section.about_sec1
}//main

footer{
     
}
}//@media (max-width: 1440px) //태블릿