// @import url('../../common/reset.css'); 

//아이콘 
//Keyboard Arrow Down
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0'); 
//History
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); 
//------------------------------------------------------------
@mixin flex($x: center, $y: center){
    display: flex; justify-content: $x; align-items: $y;
    @content;
}
@mixin font($x: inherit, $y: inherit, $z: inherit){
    font-size: $x;
    font-weight: $y;
    color: $z;
}
@mixin spaceTxt(){
    letter-spacing: 200%;
}
@mixin text(){
    word-break: keep-all;
    word-wrap: break-word;
}

@mixin English(){
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}
$mainColor: #23402A;
$subColor1: #112619;
$subColor2: #EFF299;
//------------------------------------------------------------

*{
    box-sizing: border-box;
    font-family: 'inter', 'Sans-Serif';
}
html{
    // font-size: 16px;
    height: auto;
}
body{
    padding: 0;
    margin: 0;
    background-color: white;
}
//------------------------------------------------------------
section{
    padding: 0 183px !important;
    transition: .2s padding;
    
    >.content{
    }
}//section 

main{
    >.main{
        position: relative;
        width: 100%; height: 100vh;
        overflow: hidden;
        
        >ul{
            width: 100%; height: 100%; z-index: 0;
            @include flex(flex-start);

            >li{
                flex-shrink: 0;
                position: relative; top: 0; left: 0;
                width: 100%; height: 100%;
                >.blackBg{
                    position: absolute; top: 0; left: 0; z-index: 1;
                    width: 100%; height: 100%;
                    background-color: rgba(0, 0, 0, 0.15);
                }//.blackBg
                >.bg{
                    transform: translate();
                    position: absolute; top: 0; left: 0; z-index: 0;
                    width: 100%; height: 100%;
                    overflow: hidden;
                    >img{
                        width: 100%; height: 100%;
                        object-fit: cover; 
                    }
                }//.bg
                
            }//li
        }//ul
            
        >button{
            // outline: 1px solid red;
            position: absolute; top: 50%; transform: translate(0, -50%);
            z-index: 3;

            //초기화
            background-color: transparent;
            border: none;
            
            cursor: pointer;
            width: 50px; height: 50px;
            opacity: 60%;
            
            transition: .3s;
            &:hover{
                opacity: 90%;
            }
        }//button

        >.leftBtn{
            left: 0;
            background: url('../sub/img/roomDetail/icon_arrowLeft.svg') center center / 100% 100% no-repeat scroll;
        }//.leftBtn

        >.rightBtn{
            right: 0;
            background: url('../sub/img/roomDetail/icon_arrowRight.svg') center center / 100% 100% no-repeat scroll;
        }//.rightBtn

        >div.pagination{
            position: absolute; bottom: 5%; left: 50%; transform: translateX(-50%);
            z-index: 3;

            @include flex(space-between);
            >.swiper-pagination-bullet{
                cursor: pointer;
                width: 7px; height: 7px;
                border-radius: 50%;
                background-color: white;
                opacity: 60%;
                margin: 0 7.5px;

                transition: .3s;
                &.swiper-pagination-bullet-active{
                    opacity: 100%;
                }

            }//.swiper-pagination-bullet
        }//div.pagination
    }//div.main

    >section.roomDetail_sec1{
        padding: 0 183px !important;
        @include flex(){flex-direction: column};
        padding-top: 100px !important; padding-bottom: 138px !important;
        // margin-top: 100px; margin-bottom: 138px;
        >h2{
            @include font(2.8125rem); // 45px
            text-align: center;
            transition: .3s;
        }

        >div.reservWrapper{
            @include flex(){flex-direction: column};
            margin: 26px 0 32px;
            >p{
                text-align: center;
                @include font(1rem, inherit, $mainColor);
                margin-bottom: 38px;
            }
            >.reservBtnsWrapper{
                position: relative; top: 0; left: 0; z-index: 0;
                width: 210px; height: 50px;
                border: 1px solid $mainColor;
                transition: .2s;
                >.bg{
                    position: absolute; top: 0; left: 0; z-index: 0;
                    width: 0%; height: 100%;
                    background-color: $mainColor;
                    transition: .2s;
                }

                >a{ 
                    position: absolute; top: 0; left: 0; z-index: 1;
                    
                    @include flex(center, center);
                    width: 100%; height: 100%;
                    @include font(1rem, inherit, $mainColor);
                    text-decoration: none;
    
                    transition: .3s;
    
                    &:before{
                        content: 'history';
                        font-family: 'Material Symbols Outlined';
                        margin-right: 12px;
                    };
                    
                }

                &:hover{
                    >.bg{width: 100%;}
                    >a{color: $subColor2;}
                }
            }//reservBtnsWrapper
        }//div.reservWrapper

        >div.infoTxtWrapper{
            max-width: 900px; 
            width: 100%;
            height: auto;
            padding: 50px 50px 40px;
            background-color: #E9ECEA;

            >ul.iconWrapper{
                width: auto; height: 50px;
                @include flex(flex-start);
                margin-bottom: 24px;
                >li.icon{
                    margin-right: 22px; height: 100%;
                    >figure{
                        height: 50px;
                        @include flex(space-between){flex-direction: column;};
                        width: auto;
                        >p{
                            width: 24.4px; height: 24.5px;            
                        }
                        >figcaption{
                            width: auto;
                            @include font(0.6875rem, inherit, $mainColor); //11px
                            white-space: nowrap;
                        }

                    }//li.icon>figcaption
                    &:nth-of-type(1){
                        p{
                            background: url('../sub/img/roomDetail/icon_wifi.svg') center center / 100% 100% no-repeat scroll;
                        }
                    }
                    &:nth-of-type(2){
                        p{
                            background: url('../sub/img/roomDetail/icon_car.svg') center center / 100% 100% no-repeat scroll;
                        }
                    }
                    &:nth-of-type(3){
                        p{
                            background: url('../sub/img/roomDetail/icon_airConditioner.svg') center center / 100% 100% no-repeat scroll;
                        }
                    }
                    &:nth-of-type(4){
                        p{
                            background: url('../sub/img/roomDetail/icon_washingMachine.svg') center center / 100% 100% no-repeat scroll;
                        }
                    }
                    &:nth-of-type(5){
                        p{
                            background: url('../sub/img/roomDetail/icon_forkSpoon.svg') center center / 100% 100% no-repeat scroll;
                        }
                    }
                }//li.icon
            }//ul.iconWrapper

            ul.infoTxtWrapper{
                li{
                    @include text();
                    margin-bottom: 16.5px;
                    code{
                        @include text();
                        color: #4D4D4D;

                    }//code

                    &:nth-of-type(5){//어메니티
                        >code{
                            margin-top: 20px;
                            @include flex(flex-start, flex-start);
                            >dl{
                                &:not(:last-child){
                                    margin-right: 10px;
                                }
                                >dt{
                                    margin-bottom: 20px;

                                }//dt
                                >dd{
                                    ul{
                                        @include flex(flex-start, flex-start){flex-direction: column};
                                        li{
                                            display: inline-block;
                                            font-size: 0.6875rem; //11px;
                                        }
                                    }
                                }//dd
                            }
                        }//code
                    }
                }//li
            }//ul.infoTxtWrapper

        }//div.infoTxtWrapper

    }//section.roomDetail_sec1

    >section.roomDetail_sec2{
        position: relative; top: 0; left: 0;
        padding: 187px 183px 260px !important;
        background-color: $mainColor;
        >h2.Logo{
            position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%);
            width: 112px; height: 140px;
            background: url('../sub/img/roomDetail/icon_Logo.svg') center center / 100% 100% no-repeat scroll;
            transition: .2s;
        }//h2.Logo

        >article.otherRooms{
            position: relative; top: 0; left: 0; z-index: 0;
            @include flex(){flex-direction: column};
            // outline: 1px solid red;
            >h3{
                @include font(35px, bold, $subColor2);
                margin-bottom: 65px;
            }

            >div.BtnsWrapper{
                width: 100%; 
                position: absolute; top: 50%; left: 50%; z-index: 0;
                transform: translate(-50%, -50%);
                @include flex(space-between);
                >button{
                    width: 50px; height: 50px;

                    //초기화
                    background: transparent;
                    border: none;

                    cursor: pointer;
                }
                >button.leftBtn{
                    background: url('../sub/img/roomDetail/icon_arrowLeft_yellow.svg') center center / 100% 100% no-repeat scroll;
                }
                >button.rightBtn{
                    background: url('../sub/img/roomDetail/icon_arrowRight_yellow.svg') center center / 100% 100% no-repeat scroll;
                }
            }//div.BtnsWrapper

            >div.slide{
                position: relative; top: 0; left: 0; z-index: 1;

                text-align: center;
                width: calc(100% - 100px); height: 335px; //글씨가 다 안들어가서 5px더 넣음
                overflow: hidden;
                >ul{
                    @include flex(space-between);
                    height: 270px;
                    >li{
                        flex-shrink: 0;
                        width: 100%; 
                        >a{
                            cursor: pointer;
                            display: inline-block;
                            width: 100%;
                            text-decoration: none;

                            >figure{
                                width: 100%;
                                @include flex(){flex-direction: column};
                                >p{
                                    width: 100%; height: 225px;
                                    background-color: white;
                                    margin-bottom: 15px;
                                    overflow: hidden;
                                    >img{
                                        width: 100%; height: 100%; 
                                        object-fit: cover;
                                        transition: .3s;
                                    }
                                }

                                >figcaption{
                                    @include font(1.5rem, inherit, $subColor2);
                                }//figcaption

                            }//figure

                            &:hover{
                                img{
                                     transform: scale(1.2, 1.2);
                                } 
                            }
                        }//li>a
                    }//li
                }//ul

                >div.pagination{
                    margin-top: 36px;
                    @include font(1.5rem, inherit, $subColor2);
                    >span{

                    }
                    >span.prePage{

                    }
                    >span.Allpage{

                    }
                }//div.pagination

            }//div.slide


        }//article.otherRooms

    }//section.roomDetail_sec2

}//main

footer{
     
}